/*----------LAYOUT----------*/
	html,body, #home{
	height: 100%;
	overflow-x: hidden; 
	}

	body{
		background-image: url(imagens/site.png);
		background-repeat: no-repeat;
		font-family: Helvetica, Arial, sans-serif;
		background-image: url(imagens/site.png);
	}

	#fundo{
		position: absolute;
		left: 350px;
		top: -5px;
		z-index: 1;
		height: 500px;
	}

	#logo{
		width: 180px;
		height: 180px;
	}


	/*
			----- Observações-----
	-Para que possamos retirar a imagem de arco-iris da página quando estiver em um dispositico menor, colocamos
		a seguinte class "d-none d-md-block". A class "d-none": retira a imagem e a class: "d-md-block" para inserir 
		imagens em tela maior que md; 

	*/


/*----------BARRA DE NAVEGAÇÃO----------*/


		.texto{
			z-index: 2;
			position: relative;
			font-size: 18px;
			color: white;
			text-shadow: 
               -2px -2px 0px black, 
               -2px 2px 0px black,                    
                2px -2px 0px black,                  
                2px 0px 0px black;
		}






/*---------- CAROUSEL ----------*/
		
		.gira{
			position: relative;
			z-index: 3;
		}






/*----------CONTEÚDO/FOTO----------*/
.ptfoto{
	color: white;
	margin-top: -200px;
}

.rbfoto{
	height: 400px;
	margin-left: 200px;
}





/*----------PARTE DE CONTEÚDO----------*/		
.ptfoto2{
	color: white;
	margin-top: -100px;
	margin-bottom: 100px;
}

.qrcode{
	height: 200px;
	align-items: center;
	margin-left: 250px;
}



/*----------RODAPÉ----------*/

	/*APVS*/
.apvs{
	color: white;
}


	/*FACEBOOK*/
.facebook{
	color: white;
}

.iconfacebook{
	color: white;
	margin-left: 25px;
}


	/*TWITTER*/
.twitter{
	color: white;
}


.icontwitter{
	color: white;
	margin-left: 20px;

}

	/*INSTAGRAM*/
.instagram{
	color: white;
}


.iconinstagram{
	color: white;
	margin-left: 30px;

}


	/*LINKEDIN*/
.linkedin{
	color: white;
}


.iconlinkedin{
	color: white;
	margin-left: 25px;

}

.divisor{
	color: white;
}


/*----------QUEM SOMOS----------*/

.moto{
	height: 400px;
	margin-left: 350px;
	position: relative;
	z-index: 6;
	border-radius: 10px;
	border: 5px solid white;
}

.apresentacao{
	height: 400px;
	margin-top: 100px;
	margin-left: 60px;
	color: white;
}

.missao{
	color: white;
	margin-top: -400px;
}



/*parte comentarios*/
.comentarios{
	margin-top: -300px;
}

.caixa{
	width: 800px;
	height: 150px;
	border: 2px solid white;
	border-radius: 10px;
	float: left;
	margin-left: 100px;
	margin-bottom: 30px;
}

.textinho{
	margin-top: 20px;
	color: white;
}

.pericles{
	height: 80px;
	float: left;
	margin-top: 20px;
	border-radius: 100px;
}



/*----------PARCEIROS----------*/
.parc{
	color: white;
	text-align: center;
	position: relative;
	z-index: 4;
}

.textparc{
	color: white;
	width: 600px;
	margin: 0 auto;
	position: relative;
	z-index: 5;
	font-size: 20px;
}

.parc2{
	color: white;
}




/*----------SERVIÇOS----------*/

/*Aviso*/
.work{
	width: 600px;
	margin: 0 auto;
	position: relative;
	z-index: 9;
	margin-bottom: 100px;
}




/*Album*/
.album{
	margin-bottom: 100px;
	justify-content: center;
	align-items: center;
	display: flex;
}

.camaro{
	width: 100%;
	height: 200px;
}
.tamanho{
	width: 100px;
	height: 60%;
	float: left;
	z-index: 8;
}




/*PopUp*/

/*PopUp 1*/
 		.check{
            display: block;
           
        }

        .popup-teste{
            display: none;
            background: rgba(0, 0, 0,.5);
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 10;

        }

        .popup{
            font-family: arial;
            text-align: center;
            width: 100%;
            max-width: 300px;
            margin: 10% auto;
            padding: 20px;
            background: white;
            position: relative;
            border-radius: 10px;
        }

        .popup a{
            color: white;
            border: 0px;
            cursor: pointer;
            padding: 6px 10px;
            text-decoration: none;
            background: black;
        }

        .popup-close{
            position: absolute;
            top: 5px;
            right: 10px;
            cursor: pointer;
        }





/*PopUp 2*/

                 .botao{
            display: block;
        }

            .pop-wrapper{
             display: none;
            background: rgba(0, 0, 0,.5);
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 10;
        }

        .propur{
           font-family: arial;
            text-align: center;
            width: 100%;
            max-width: 300px;
            margin: 10% auto;
            padding: 20px;
            background: white;
            position: relative;
            border-radius: 11px;
        }

        .propur a{
			color: white;
            border: 0px;
            cursor: pointer;
            padding: 6px 10px;
            text-decoration: none;
            background: black;
        }

        .pop-close{
            position: absolute;
            top: 5px;
            right: 10px;
            cursor: pointer;
        }
        



/*PopUp 3*/
         bott{
            display: block;
        }

        .p-wrapper{
           display: none;
            background: rgba(0, 0, 0,.5);
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 10;
        }

        .up{
            font-family: arial;
            text-align: center;
            width: 100%;
            max-width: 300px;
            margin: 10% auto;
            padding: 20px;
            background: white;
            position: relative;
            border-radius: 11px;
        }

        .up a{
            color: white;
            border: 0px;
            cursor: pointer;
            padding: 6px 10px;
            text-decoration: none;
            background: black;
        }

        .p-close{
            position: absolute;
            top: 5px;
            right: 10px;
            cursor: pointer;
        }

















/*----------MIDIA QUERY----------*/

/*
.jnt é o carrosel

*/


@media (min-width: 300px) {
	/*CARROSSEL*/
	.jnt{
		z-index: 2;
		position: relative;
		top: -100px;
	}


	.qrcode{
	height: 200px;
	align-items: center;
	margin-top: 20px;
	margin-left: 120px;
	}

	.ptfoto{
	color: white;
	margin-top: -200px;
	margin-bottom: 50px;
	position: relative;
	}

		.rbfoto{
	height: 300px;
	margin-left: 100px;
	}

	/*RODAPE*/
	.iconfacebook{
	color: white;
	margin-left: 0px;
	}

	.icontwitter{
	color: white;
	margin-left: 0px;
	}

	.iconinstagram{
	color: white;
	margin-left: 0px;
	}

	.iconlinkedin{
	color: white;
	margin-left: 0px;
	}


	/*----------QUEM SOMOS----------*/

	.moto{
		height: 280px;
		margin-left: 35px;
		position: relative;
		z-index: 6;
		border-radius: 10px;
		border: 5px solid white;
	}

	.apresentacao{
		height: 400px;
		margin-top: 100px;
		margin-left: 20px;
		margin-bottom: 130px;
		color: white;
	}

	.missao{
		color: white;
		margin-top: -350px;
		margin-left: 10px;
	}


	/*parte comentarios*/
	.comentarios{
		margin-top: -50px;
		margin-left: -20px;
		margin-bottom: 650px;
	}

	.caixa{
		width: 400px;
		height: 200px;
		border: 2px solid white;
		border-radius: 10px;
		float: left;
		margin-left: 40px;
		margin-bottom: 30px;
	}





	/*----------PARCEIROS----------*/
		.textparc{
			color: white;
			width: 450px;
			margin: 0 auto;
			position: relative;
			z-index: 5;
			font-size: 20px;
		}





	/*----------QUEM SOMOS----------*/
	.work{
		width: 400px;
	}



	.album{
		margin-bottom: 100px;
		justify-content: center;
		align-items: center;
	}

	.camaro{
		width: 100%;
		height: 200px;
	}
	.tamanho{
		width: 100px;
		height: 60%;
		float: left;
		z-index: 8;
	}




}


/*// Small devices (landscape phones 576 and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*CARROSSEL*/
	.jnt{                        
		z-index: 2;
		position: relative;
		top: 30px;
	}


	.qrcode{
	height: 200px;
	align-items: center;
	margin-top: 20px;
	margin-left: 160px;
	}


	.ptfoto{
	color: white;
	margin-top: -200px;
	margin-bottom: 50px;
	position: relative;
	}

		.rbfoto{
	height: 300px;
	margin-left: 150px;
	}


	/*----------QUEM SOMOS----------*/

	.moto{
		height: 350px;
		margin-left: 100px;
		position: relative;
		z-index: 6;
		border-radius: 10px;
		border: 5px solid white;
	}

	.apresentacao{
	height: 400px;
	margin-top: 100px;
	margin-left: 60px;
	margin-bottom: 130px;
	color: white;
}

.missao{
	color: white;
	margin-top: -400px;
	margin-left: 30px;
}



/*parte comentarios*/
.comentarios{
	margin-top: -150px;
	margin-left: -20px;
	margin-bottom: 500px;
}

.caixa{
	width: 600px;
	height: 142px;
	border: 2px solid white;
	border-radius: 10px;
	float: left;
	margin-left: 60px;
	margin-bottom: 30px;
	position: relative;
}

.textinho{
	margin-top: 20px;
	color: white;
}

.pericles{
	height: 80px;
	float: left;
	margin-top: 20px;
	border-radius: 100px;
}





}


/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*CARROSSEL*/
	.jnt{                        
		z-index: 2;
		position: relative;
		top: 30px;
	}

	.ptfoto{
	color: white;
	margin-top: -200px;
	margin-bottom: 50px;
	position: relative;
	}

		.rbfoto{
	height: 300px;
	margin-left: 150px;
	}


	.ptfoto2{
	color: white;
	margin-top: -250px;
	margin-bottom: 100px;
	}


	/*RODAPE*/
	.iconfacebook{
	color: white;
	margin-left: 25px;
	}

	.icontwitter{
	color: white;
	margin-left: 20px;
	}

	.iconinstagram{
	color: white;
	margin-left: 30px;
	}

	.iconlinkedin{
	color: white;
	margin-left: 25px;
	}


	/*----------QUEM SOMOS----------*/

	.moto{
		height: 350px;
		margin-left: 200px;
		position: relative;
		z-index: 6;
		border-radius: 10px;
		border: 5px solid white;
	}

	.apresentacao{
	height: 400px;
	margin-top: 100px;
	margin-left: 60px;
	color: white;
}

.missao{
	color: white;
	margin-top: -500px;
}



/*parte comentarios*/
.comentarios{
	margin-top: -300px;
	margin-left: -20px;
	margin-bottom: 500px;
}

.caixa{
	width: 800px;
	height: 150px;
	border: 2px solid white;
	border-radius: 10px;
	float: left;
	margin-left: 100px;
	margin-bottom: 30px;
}

.textinho{
	margin-top: 20px;
	color: white;
}

.pericles{
	height: 80px;
	float: left;
	margin-top: 20px;
	border-radius: 100px;
}





}


/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	/*CARROSSEL*/
	.jnt{                        
		z-index: 2;
		position: relative;
		top: 30px;
	}


		.ptfoto{
	color: white;
	margin-top: -200px;
	margin-bottom: 0px;
	position: relative;
	}

		.rbfoto{
	height: 300px;
	margin-left: 150px;
	}



	.ptfoto2{
	color: white;
	margin-top: -250px;
	margin-bottom: 100px;
	}


	/*RODAPE*/
	.iconfacebook{
	color: white;
	margin-left: 25px;
	}

	.icontwitter{
	color: white;
	margin-left: 20px;
	}

	.iconinstagram{
	color: white;
	margin-left: 30px;
	}

	.iconlinkedin{
	color: white;
	margin-left: 25px;
	}



	/*----------QUEM SOMOS----------*/

.moto{
	height: 400px;
	margin-left: 280px;
	position: relative;
	z-index: 6;
	border-radius: 10px;
	border: 5px solid white;
}

.apresentacao{
	height: 400px;
	margin-top: 100px;
	margin-left: 60px;
	color: white;
}

.missao{
	color: white;
	margin-top: -500px;
}



/*parte comentarios*/
.comentarios{
	margin-top: -300px;
	margin-bottom: 500px;
	margin-left: 20px;
}

.caixa{
	width: 800px;
	height: 150px;
	border: 2px solid white;
	border-radius: 10px;
	float: left;
	margin-left: 100px;
	margin-bottom: 30px;
}

.textinho{
	margin-top: 20px;
	color: white;
}

.pericles{
	height: 80px;
	float: left;
	margin-top: 20px;
	border-radius: 100px;
}



}



/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	/*CARROSSEL*/
	.jnt{                        
		z-index: 2;
		position: relative;
		top: 30px;
	}

	.ptfoto{
		color: white;
		margin-top: -200px;
		margin-bottom: 0px;
		position: relative;
	}

	.rbfoto{
		height: 300px;
		margin-left: 150px;
	}

		.ptfoto2{
	color: white;
	margin-top: -250px;
	margin-bottom: 100px;
	}


	/*RODAPE*/
	.iconfacebook{
	color: white;
	margin-left: 25px;
	}

	.icontwitter{
	color: white;
	margin-left: 20px;
	}

	.iconinstagram{
	color: white;
	margin-left: 30px;
	}

	.iconlinkedin{
	color: white;
	margin-left: 25px;
	}



	/*----------QUEM SOMOS----------*/

.moto{
	height: 400px;
	margin-left: 320px;
	position: relative;
	z-index: 6;
	border-radius: 10px;
	border: 5px solid white;
}

.apresentacao{
	height: 400px;
	margin-top: 100px;
	margin-left: 60px;
	color: white;
}

.missao{
	color: white;
	margin-top: -550px;
}



/*parte comentarios*/
.comentarios{
	margin-top: -300px;
	margin-bottom: 550px;
	margin-left: 40px;
}

.caixa{
	width: 800px;
	height: 150px;
	border: 2px solid white;
	border-radius: 10px;
	float: left;
	margin-left: 100px;
	margin-bottom: 30px;
}

.textinho{
	margin-top: 20px;
	color: white;
}

.pericles{
	height: 80px;
	float: left;
	margin-top: 20px;
	border-radius: 100px;
}


}




